#persons-table, #persons-table * { /*The star also accesses the inside of the table*/
  border-collapse: 0;
  border: solid;
  border-spacing: 0;
}

#redButton
{
  background-color: pink;

}

#greenButton
{
  background-color: lightgreen;

}

#yellowButton
{
  background-color: yellow;

}

#blueButton {
  background-color: cyan;
}
